
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header-content header">
        <div class="logo-content">
            <img src="../assets/images/logo.png" alt="logo">
            <div>
                <span class="emp-text">EMPLOYEE</span><br>
                <span class="emp-text emp-payroll">PAYROLL</span>
            </div>
        </div>
    </header>

    <div class="main-content">
        <div class="header-content sub-main-content">
            <div class="emp-detail-text">
                Employee Details <div class="emp-count">{{employeeCount}}</div>
            </div>
            <a href="form" class="add-button">
             <img src="../assets/icons/add-24px.svg" alt="">&nbsp;<span>Add User</span></a>
        </div>

        <div class="table-main">
            <table class="table" id="display">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Start Date</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let employee of employeeList">
                    <td>
                        <img class="profile" src="{{employee.profilePic}}" alt="">
                    </td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.gender}}</td>
                    <td>
                        <div class="dept-label"  *ngFor="let dept of employee.department">
                            {{dept}}
                        </div>
                    </td>
                    <td>{{employee.salary}}</td>
                    <td>{{employee.startDate}}</td>
                    <td>
                        <img id="" (click)="deleteEmployee(employee.employeeId)" src="../assets/icons/delete-black-18dp.svg" alt="delete">
                        &nbsp;
                        <img id="" (click)="updateEmployee(employee.employeeId)" src="../assets/icons/create-black-18dp.svg" alt="edit">
                    </td>
                </tr>        
            </table>
        </div>
    </div>
</body>

</html>